/* Base */
:root {
  --cream: #fff3ea;
  --burgundy: #6b313f;
  --navy: #213d53;
  --red: #ce442c;
  --dark-red: #270c0c;
  --pale-red: #ce7676;
  --blue: #0e447a;
  --mid-blue: #1b558e;
  --light-blue: #2e669e;
  --green: #428302;
  --dark-green: #0d270c;
  --pale-green: #79ce76;
  --white: #fcfcfc;
  --black: #1a1a1a;
  --grey: #aaaaaa;
  --shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
    0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif; /* Added Arabic font */
  font-weight: 400;
  min-height: 100vh;
  color: var(--black);
  background-image: linear-gradient(var(--cream), var(--burgundy));
}

header {
  background-image: linear-gradient(#2f2525, #201919);
  box-shadow: var(--shadow);
}

h1 {
  font-size: calc(1.125rem + 1.5vw);
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
  padding: 0.7em;
}
h1 span {
  padding: 0 0.2em;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1.125rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-gap: 1rem;
  max-width: 62.5rem;
  padding: 1rem;
  margin: 0 auto;
}

.btn {
  display: block;
  font: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
  min-width: 7.1rem;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.panel {
  padding: 1.25rem;
  border-radius: 0.625rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

@media (min-width: 720px) {
  .container {
    grid-template: auto 1fr/repeat(2, 1fr);
    grid-gap: 1.25rem;
    padding: 1.25rem;
  }
}
/* Animation */
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scaleUp {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes scaleUp {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
/* Order Selection */
.pizza-options {
  grid-row: 1/-1;
}
.pizza-options__size {
  position: relative;
  display: inline-block;
  margin-bottom: 1.25rem;
}
.pizza-options__size-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--black);
  background-color: transparent;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--blue);
  padding: 0.625rem 2.1875rem 0.625rem 0.5rem;
  cursor: pointer;
}
.pizza-options__size-icon {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  width: 1.25rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.pizza-options__details {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.pizza-options__details li {
  margin-bottom: 0.375rem;
}
.pizza-options__toppings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pizza-options__topping {
  position: relative;
}
.pizza-options__topping-label {
  font-size: 1rem;
  padding: 0 2.8125rem 0 3.75rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 3.25rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--blue);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: capitalize;
  overflow: hidden;
}
.pizza-options__topping-label-content {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.pizza-options__topping-label-text {
  margin-right: 0.625rem;
}
.pizza-options__topping-label-icons {
  white-space: nowrap;
}
.pizza-options__topping-label .pizza-options__topping-icon {
  margin-right: 0.1875rem;
}
.pizza-options__topping-label .pizza-options__topping-icon:last-of-type {
  margin-right: 0;
}
.pizza-options__topping-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  right: 0.9375rem;
  background-color: var(--white);
  border: 0.125rem solid var(--blue);
  border-radius: 0.3125rem;
  margin: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.pizza-options__topping-input:checked {
  background-color: var(--white);
}
.pizza-options__topping-input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-image: radial-gradient(circle, var(--light-blue), var(--blue));
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: scaleUp 100ms linear forwards;
          animation: scaleUp 100ms linear forwards;
}
.pizza-options__topping-input:checked + .pizza-options__topping-label {
  color: var(--white);
  background-color: var(--mid-blue);
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.4);
}
.pizza-options__topping-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--white);
  border-right: 0.125rem solid var(--blue);
}
.pizza-options__topping-image div {
  width: 70%;
  height: 70%;
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
}
.pizza-options__topping-image .onions, .pizza-options__topping-image .peppers, .pizza-options__topping-image .chicken {
  width: 25%;
  border: none;
  transform: rotate(30deg);
}
.pizza-options__topping-image .mushrooms {
  position: relative;
  height: 45%;
  border: none;
  transform: translateY(-0.5rem);
}
.pizza-options__topping-image .jalapenos::before, .pizza-options__topping-image .jalapenos::after {
  display: none;
}
.pizza-options__topping-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5625rem;
  height: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--white);
  border: 0.125rem solid var(--white);
  border-radius: 50%;
  margin-right: 0.3125rem;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}
.pizza-options__topping-icon--vegetarian {
  background-color: var(--green);
}
.pizza-options__topping-icon--gluten {
  background-color: var(--blue);
}
.pizza-options__topping-icon--hot {
  background-color: var(--red);
}
@media (min-width: 720px) {
  .pizza-options__size-input {
    font-size: 1.25rem;
  }
  .pizza-options__toppings {
    gap: 1.25rem;
  }
  .pizza-options__topping-label {
    font-size: 1.25rem;
    height: 3.875rem;
    padding: 0 3.75rem 0 4.375rem;
  }
  .pizza-options__topping-input {
    right: 1.125rem;
    width: 1.875rem;
    height: 1.875rem;
  }
}

/* Order Details */
.confirmation .order-details {
  align-self: stretch;
}
.order-details__size-value {
  text-transform: capitalize;
}
.order-details__toppings-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  padding-left: 1.5625rem;
  text-transform: capitalize;
  list-style-type: disc;
}
.order-details__toppings-item {
  flex: 0 0 10rem;
  padding-right: 1.25rem;
  margin-bottom: 1.125rem;
}
.order-details__discount-input {
  display: block;
  font: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  width: 12.5rem;
  color: inherit;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--grey);
  padding: 0.3125rem;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
  -webkit-appearance: none;
}
.order-details__discount-input[aria-invalid=true] {
  border-color: var(--red);
}
.order-details__discount-details {
  color: var(--green);
}
.order-details__discount-details span {
  font-weight: 700;
}
.order-details__discount-message {
  display: inline-block;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}
.order-details__discount-message--valid {
  color: var(--dark-green);
  background-color: var(--pale-green);
}
.order-details__discount-message--invalid {
  color: var(--dark-red);
  background-color: var(--pale-red);
}
.order-details__discount-apply {
  margin-bottom: 1.25rem;
  background-color: var(--blue);
}
.order-details__price-value {
  font-size: 1.5625rem;
  font-weight: 700;
  margin-bottom: 0;
}
.order-details__price-value del {
  font-size: 1.25rem;
  color: var(--red);
}
.order-details__price-value ins {
  text-decoration: none;
  margin-right: 0.5rem;
}
.order-details__order {
  margin-top: 1.25rem;
  background-color: var(--green);
}
@media (min-width: 720px) {
  .order-details__toppings-item {
    flex-grow: 1;
  }
}

/* Order Confirmation */
.order-confirmation {
  grid-column: 1/-1;
  text-align: center;
}
.order-confirmation__icon {
  width: 5rem;
  margin-bottom: 0.5rem;
  fill: var(--black);
}

/* Pizza */
.pizza {
  padding: 1.875rem;
}
.pizza__pie {
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle, #ffff80, #fdfd80 59.5%, #c79d81 60%, #836551 70%);
}
.pizza__pie--small {
  transform: scale(0.7);
}
.pizza__pie--medium {
  transform: scale(0.85);
}
.pizza__pie::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 4;
  background: linear-gradient(transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(90deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(45deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%), linear-gradient(-45deg, transparent 49.85%, rgba(0, 0, 0, 0.04) 49.85%, rgba(0, 0, 0, 0.04) 50.15%, transparent 50.15%);
}

/* Pizza Toppings */
.topping {
  position: absolute;
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}
.build .topping {
  opacity: 0;
  -webkit-animation: fadeIn 100ms linear forwards;
          animation: fadeIn 100ms linear forwards;
}

/* Pepperoni */
.pepperoni {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-image: radial-gradient(#ca4141, #6d2525);
}
.pepperoni-1 {
  top: 20%;
  left: 60%;
}
.pepperoni-2 {
  top: 40%;
  left: 60%;
}
.pepperoni-3 {
  top: 40%;
  left: 80%;
}
.pepperoni-4 {
  top: 60%;
  left: 80%;
}
.pepperoni-5 {
  top: 80%;
  left: 60%;
}
.pepperoni-6 {
  top: 60%;
  left: 60%;
}
.pepperoni-7 {
  top: 80%;
  left: 40%;
}
.pepperoni-8 {
  top: 60%;
  left: 40%;
}
.pepperoni-9 {
  top: 60%;
  left: 20%;
}
.pepperoni-10 {
  top: 40%;
  left: 20%;
}
.pepperoni-11 {
  top: 40%;
  left: 40%;
}
.pepperoni-12 {
  top: 20%;
  left: 40%;
}

/* Bacon */
.bacon {
  width: 6%;
  height: 13%;
  border-radius: 15%;
  background-image: linear-gradient(90deg, #753434 0%, #b14f4f 30%, #ecc67f 35%, #d1ad69 65%, #b14f4f 70%, #753434);
}
.bacon-1 {
  top: 38%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.bacon-2 {
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.bacon-3 {
  top: 42%;
  left: 78%;
  transform: translate(-50%, -50%) rotate(120deg);
}
.bacon-4 {
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-120deg);
}
.bacon-5 {
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.bacon-6 {
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.bacon-7 {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.bacon-8 {
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.bacon-9 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(100deg);
}
.bacon-10 {
  top: 82%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(100deg);
}
.bacon-11 {
  top: 58%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.bacon-12 {
  top: 72%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(150deg);
}
.bacon-13 {
  top: 48%;
  left: 56%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Sausage */
.sausage {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-image: radial-gradient(circle, #c09d86, #795843);
}
.sausage-1 {
  top: 30%;
  left: 50%;
}
.sausage-2 {
  top: 30%;
  left: 70%;
}
.sausage-3 {
  top: 50%;
  left: 70%;
}
.sausage-3 {
  top: 70%;
  left: 70%;
}
.sausage-4 {
  top: 70%;
  left: 50%;
}
.sausage-5 {
  top: 70%;
  left: 30%;
}
.sausage-6 {
  top: 50%;
  left: 30%;
}
.sausage-7 {
  top: 30%;
  left: 30%;
}
.sausage-8 {
  top: 50%;
  left: 50%;
}
.sausage-9 {
  top: 50%;
  left: 70%;
}
.sausage-10 {
  top: 15%;
  left: 50%;
}
.sausage-11 {
  top: 50%;
  left: 85%;
}
.sausage-12 {
  top: 85%;
  left: 50%;
}
.sausage-13 {
  top: 50%;
  left: 15%;
}

/* Ham */
.ham {
  width: 12%;
  height: 7%;
  border-radius: 15%;
  background-image: radial-gradient(#a3577d, #ffc0cb);
}
.ham-1 {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.ham-2 {
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-3 {
  top: 42%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.ham-4 {
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(5deg);
}
.ham-5 {
  top: 68%;
  left: 48%;
  transform: translate(-50%, -50%) rotate(25deg);
}
.ham-6 {
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(150deg);
}
.ham-7 {
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(10deg);
}
.ham-8 {
  top: 25%;
  left: 32%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.ham-9 {
  top: 18%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-70deg);
}
.ham-10 {
  top: 55%;
  left: 82%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.ham-11 {
  top: 82%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.ham-12 {
  top: 52%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(-100deg);
}
.ham-13 {
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(-40deg);
}
.ham-14 {
  top: 80%;
  left: 38%;
  transform: translate(-50%, -50%) rotate(80deg);
}

/* Mushrooms */
.mushrooms {
  width: 8%;
  height: 5%;
  border: none;
  border-radius: 50% 50% 10% 10%;
  background-image: linear-gradient(#a7a7a7, #c7b2a5, #554d48);
  z-index: 2;
}
.mushrooms::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -52%;
  width: 40%;
  height: 55%;
  border-radius: 0 0 20% 20%;
  background-image: linear-gradient(#554d48, #a7a7a7);
  transform: translateX(-50%);
}
.mushrooms-1 {
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.mushrooms-2 {
  top: 49%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.mushrooms-3 {
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mushrooms-4 {
  top: 51%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-135deg);
}
.mushrooms-5 {
  top: 41%;
  left: 69%;
  transform: translate(-50%, -50%) rotate(-100deg);
}
.mushrooms-6 {
  top: 61%;
  left: 69%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.mushrooms-7 {
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(120deg);
}
.mushrooms-8 {
  top: 72%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(190deg);
}
.mushrooms-9 {
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.mushrooms-10 {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.mushrooms-11 {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.mushrooms-12 {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.mushrooms-13 {
  top: 30%;
  left: 41%;
  transform: translate(-50%, -50%) rotate(70deg);
}
.mushrooms-14 {
  top: 31%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(200deg);
}
.mushrooms-15 {
  top: 22%;
  left: 76%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.mushrooms-16 {
  top: 80%;
  left: 74%;
  transform: translate(-50%, -50%) rotate(140deg);
}
.mushrooms-17 {
  top: 75%;
  left: 22%;
  transform: translate(-50%, -50%) rotate(100deg);
}
.mushrooms-18 {
  top: 21%;
  left: 28%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mushrooms-19 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mushrooms-20 {
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mushrooms-21 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
}
.mushrooms-22 {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(120deg);
}

/* Peppers */
.peppers {
  width: 3%;
  height: 15%;
  border: none;
  border-radius: 30% 10% 10% 30%;
  background-image: linear-gradient(90deg, #1e801e, #90ee90);
  z-index: 2;
}
.peppers:nth-child(2n) {
  background-image: linear-gradient(90deg, #af1616, #fca4b2);
}
.peppers-1 {
  top: 25%;
  left: 32%;
  transform: translate(-50%, -50%) rotate(120deg);
}
.peppers-2 {
  top: 32%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(5deg);
}
.peppers-3 {
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-15deg);
}
.peppers-4 {
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(15deg);
}
.peppers-5 {
  top: 48%;
  left: 58%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.peppers-6 {
  top: 68%;
  left: 62%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.peppers-7 {
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.peppers-8 {
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.peppers-9 {
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.peppers-10 {
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.peppers-11 {
  top: 58%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(10deg);
}
.peppers-12 {
  top: 22%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(130deg);
}
.peppers-13 {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-80deg);
}
.peppers-14 {
  top: 52%;
  left: 17%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.peppers-15 {
  top: 78%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(-135deg);
}

/* Onions */
.onions {
  width: 3%;
  height: 15%;
  border: none;
  border-radius: 50% 15% 15% 50%;
  background-image: linear-gradient(90deg, #773d75, #d8c0ff);
  z-index: 2;
}
.onions-1 {
  top: 17%;
  left: 42%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.onions-2 {
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.onions-3 {
  top: 24%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.onions-4 {
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.onions-5 {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.onions-6 {
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.onions-7 {
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.onions-8 {
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.onions-9 {
  top: 75%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.onions-10 {
  top: 40%;
  left: 82%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
.onions-11 {
  top: 32%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(70deg);
}
.onions-12 {
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.onions-13 {
  top: 78%;
  left: 28%;
  transform: translate(-50%, -50%) rotate(-70deg);
}
.onions-14 {
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(160deg);
}
.onions-15 {
  top: 48%;
  left: 62%;
  transform: translate(-50%, -50%) rotate(60deg);
}

/* Chicken */
.chicken {
  width: 5%;
  height: 14%;
  border-radius: 20% 40% 100% 50%;
  background-image: radial-gradient(#dac0af 40%, #a1795e);
  z-index: 3;
}
.chicken-1 {
  top: 25%;
  left: 58%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.chicken-2 {
  top: 32%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(-110deg);
}
.chicken-3 {
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(40deg);
}
.chicken-4 {
  top: 68%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.chicken-5 {
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(-60deg);
}
.chicken-6 {
  top: 35%;
  left: 22%;
  transform: translate(-50%, -50%) rotate(60deg);
}
.chicken-7 {
  top: 52%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(5deg);
}
.chicken-8 {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(40deg);
}
.chicken-9 {
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(-110deg);
}
.chicken-10 {
  top: 22%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.chicken-11 {
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-100deg);
}
.chicken-12 {
  top: 82%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.chicken-13 {
  top: 55%;
  left: 46%;
  transform: translate(-50%, -50%) rotate(60deg);
}
.chicken-14 {
  top: 48%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(-20deg);
}

/* Pineapple */
.pineapple {
  width: 10%;
  height: 7%;
  border-radius: 15% 15% 100% 15%;
  background-image: radial-gradient(circle at top left, #fff8b9, #ffff00);
  z-index: 3;
}
.pineapple-1 {
  top: 32%;
  left: 58%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.pineapple-2 {
  top: 22%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(-100deg);
}
.pineapple-3 {
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%) rotate(-20deg);
}
.pineapple-4 {
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.pineapple-5 {
  top: 56%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(170deg);
}
.pineapple-6 {
  top: 78%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(70deg);
}
.pineapple-7 {
  top: 63%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(130deg);
}
.pineapple-8 {
  top: 78%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.pineapple-9 {
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%) rotate(200deg);
}
.pineapple-10 {
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.pineapple-11 {
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.pineapple-12 {
  top: 45%;
  left: 42%;
  transform: translate(-50%, -50%) rotate(160deg);
}
.pineapple-13 {
  top: 16%;
  left: 46%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.pineapple-14 {
  top: 52%;
  left: 23%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pineapple-15 {
  top: 28%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.pineapple-16 {
  top: 68%;
  left: 78%;
  transform: translate(-50%, -50%) rotate(5deg);
}

/* Olives */
.olives {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  background-image: radial-gradient(circle, transparent 32%, #211433 40%, #181124);
  z-index: 1;
}
.olives-1 {
  top: 20%;
  left: 40%;
}
.olives-2 {
  top: 35%;
  left: 35%;
}
.olives-3 {
  top: 35%;
  left: 52%;
}
.olives-4 {
  top: 26%;
  left: 62%;
}
.olives-5 {
  top: 52%;
  left: 78%;
}
.olives-6 {
  top: 62%;
  left: 50%;
}
.olives-7 {
  top: 75%;
  left: 55%;
}
.olives-8 {
  top: 80%;
  left: 40%;
}
.olives-9 {
  top: 62%;
  left: 20%;
}
.olives-10 {
  top: 36%;
  left: 18%;
}
.olives-11 {
  top: 50%;
  left: 45%;
}
.olives-12 {
  top: 65%;
  left: 72%;
}
.olives-13 {
  top: 50%;
  left: 28%;
}
.olives-14 {
  top: 28%;
  left: 79%;
}
.olives-15 {
  top: 65%;
  left: 35%;
}
.olives-16 {
  top: 40%;
  left: 70%;
}
.olives-17 {
  top: 52%;
  left: 62%;
}
.olives-18 {
  top: 80%;
  left: 68%;
}
.olives-19 {
  top: 16%;
  left: 52%;
}

/* Jalapenos */
.jalapenos {
  width: 8%;
  height: 8%;
  border-radius: 50%;
  background-image: radial-gradient(circle, #fcfcfc, #b8db9b 25%, transparent 25%, transparent 48%, #399913 50%, #16571c);
  z-index: 1;
}
.jalapenos::before, .jalapenos::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 22%;
  height: 20%;
  transform: translateY(-50%);
}
.jalapenos::before {
  left: 15%;
  background-image: linear-gradient(90deg, #399913, #b8db9b);
}
.jalapenos::after {
  left: 63%;
  background-image: linear-gradient(270deg, #399913, #b8db9b);
}
.jalapenos-1 {
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.jalapenos-2 {
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(200deg);
}
.jalapenos-3 {
  top: 22%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(80deg);
}
.jalapenos-4 {
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(25deg);
}
.jalapenos-5 {
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%) rotate(100deg);
}
.jalapenos-6 {
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(50deg);
}
.jalapenos-7 {
  top: 68%;
  left: 78%;
  transform: translate(-50%, -50%) rotate(2deg);
}
.jalapenos-8 {
  top: 75%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(20deg);
}
.jalapenos-9 {
  top: 65%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(110deg);
}
.jalapenos-10 {
  top: 75%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(170deg);
}
.jalapenos-11 {
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(140deg);
}
.jalapenos-12 {
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.jalapenos-13 {
  top: 52%;
  left: 18%;
  transform: translate(-50%, -50%) rotate(30deg);
}
.jalapenos-14 {
  top: 42%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(15deg);
}
.jalapenos-15 {
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(150deg);
}
.jalapenos-16 {
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(10deg);
}
.jalapenos-17 {
  top: 42%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(40deg);
}
.jalapenos-18 {
  top: 82%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(70deg);
}
.jalapenos-19 {
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(120deg);
}
